<!--This page is foo form to get inquiries and suggestions from user of this Application. User can directly communicate with developer of this app(also admin
of MovieFlix. This page requires firstname, lastname, email and password.-->


<div class="container" style="padding-top: 150px">
        <div style="background: white; margin: auto; width: 500px; height: 515px; text-align: center; padding-top: 20px;">
                <form class="form-horizontal" method="post" >
                        <h1 class="hd" style="text-align: center">MovieFlix</h1>
                        <div>
                        <legend class="hd">Contact Us</legend>
                        </div>
                        <div class="form-group" style="margin: 5px">
                            <div class="col-md-12">
                                <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group" style="margin: 5px">

                            <div class="col-md-12">
                                <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group" style="margin: 5px">

                            <div class="col-md-12">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group" style="margin: 5px">

                            <div class="col-md-12">
                                <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group" style="margin: 5px">

                            <div class="col-md-12">
                                <textarea class="form-control" id="message" name="message"  placeholder="Enter your massage for us here. We will get back to you within 2 business days."></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 20px">Submit</button>
                            </div>
                        </div>
                </form>
            </div>
</div>

<style>
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
</style>
