
<!-- This file is for registering user to MovieFlix application. it requires few data to fill into the form by the user.-->
<div>
    <div class="container" style="padding-top:10%">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h1 class="hd" style="text-align: center">MovieFlix</h1>
                    <legend class="hd" style="text-align: center">Sign Up </legend>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="first_name" id="first_name" ng-model="formData.firstName" class="form-control input-sm floatlabel" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="last_name" id="last_name" ng-model="formData.lastName" class="form-control input-sm" placeholder="Last Name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" ng-model="formData.email" placeholder="Email Address">
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" ng-model="formData.password" class="form-control input-sm" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        <button type="button" value="Register" ui-sref="signin" ng-click="formSubmit()" class="btn btn-info btn-block">Sign Up</button>

                        <h6>Already a member?</h6>
                        <a ui-sref="signin">Sign in</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




</div>
<h1 class="chatz" style="color: white" align="center">Just one more step and You are done! Yes, we hate paperwork too! </h1>
